 .questions .react-autosuggest__suggestions-list {
 	margin: 0;
 	padding: 0;
 	list-style-type: none;
	overflow-x: hidden;
 }

 .questions .react-autosuggest__suggestion {
 	cursor: pointer;
 	padding: 10px 10px;
 }

 .questions .react-autosuggest__suggestion--highlighted {
 	background-color: #cfec86;
 }

 /*     ======== */

 .questions .react-autosuggest__suggestion {
 	cursor: pointer;
 	padding: 3px 10px;
 	font-size: 13px;
 }

 .questions .react-autosuggest__suggestion-match {
 	color:  rgb(20, 158, 202);
 	font-weight: bold;
 }

 /* ======================================================== */
 
 .questions .react-autosuggest__suggestions-container--open {
 	width: 100% !important;
	left: 0;
	border: 5px solid rgb(207, 226, 255);
 	overflow-x: visible;
 }

 
 .questions .react-autosuggest__suggestion {
 	color: #000;
 	background-color: rgb(255, 193, 7);
 	display: flex;
 	flex-wrap: wrap;
	width: 100%;
 	/* width: 80vw;  */
 	/* border: 1px solid blue; */
 }

 /* span:nth-child(1) */
 .questions .react-autosuggest__suggestion > span  {
 	color: #000;
 	/* background-color: blue; */
 	/* max-width: 100%; */
 	/* border: 3px solid red; */
 }

  /* .questions .react-autosuggest__suggestion > span > span { */
	/* border: 1px solid navajowhite; */
 	/* color: #fff; */
 	/* background-color: blue; */
 	/* max-width: 100%; */
 	/* border: 3px solid red; */
 /* } */

 

 .questions .no-suggestions {
 	background-color: rgb(255, 193, 7);
 	color: #fff;
 	padding: 1px 3px;
 }

 .questions .react-autosuggest__suggestion:hover {
 	background-color: navajowhite;
 }

 /*
.react-autosuggest__container',
.react-autosuggest__container--open',
.react-autosuggest__input',
.react-autosuggest__input--open',
.react-autosuggest__input--focused',
.react-autosuggest__suggestions-container',
.react-autosuggest__suggestions-container--open',
.react-autosuggest__suggestions-list',
.react-autosuggest__suggestion',
.react-autosuggest__suggestion--first',
.react-autosuggest__suggestion--highlighted',
*/

 .questions .react-autosuggest__section-title {
 	font-size: 12px;
 	/* font-weight: bold; */
 	padding: 1px 5px;
 	font-style: oblique;
 }

 .questions .react-autosuggest__section-container {
 	/* background-color: #343a40; */
 	background-color: #E8EAFB;
 }

 /* .questions .react-autosuggest__section-container--first {
 	background-color: #343a40;
 } */

 .questions .react-autosuggest__section-title {
 	color: rgb(13, 110, 253);
 	background-color: #E8EAFB;
 	/* #343a40; */
 }

 .questions .react-autosuggest__suggestion--highlighted {
 	color: #fff;
 	background-color: #343a40;
 }